In [2]:
from __future__ import print_function
import os
import pandas as pd
import geopandas as gpd
from matplotlib import pyplot as plt
import requests 
import json
import numpy as np
import io
import json
import nltk
import shapely
from geopandas.tools import sjoin
from fiona.crs import from_epsg
import time

import requests
from scipy import stats

In [5]:
pumaSentTweet = pd.read_csv('pumaSentTweet.csv')
print(pumaSentTweet.shape)
pumaSentTweet.head(5)

(55, 2)

   puma  sentiment
0  3701  -0.107229
1  3702  -0.079423
2  3703   0.010576
3  3704   0.080015
4  3705  -0.066766

In [6]:
pumaSentFlickr = pd.read_csv('facePumaSent.csv')
print(pumaSentFlickr.shape)
pumaSentFlickr.head(5)

(55, 10)

,anger,contempt,disgust,happiness,neutral,puma,sadness,sentiment,surprise,faces
0,0.0,0.015625,0.0,0.500000,0.453125,3804,0.031250,0.432531,0.0,64.0
1,0.0,0.000000,0.0,0.545455,0.454545,4114,0.000000,0.479727,0.0,11.0
2,0.0,0.015267,0.0,0.488550,0.480916,3702,0.015267,0.459038,0.0,131.0
3,0.0,0.000000,0.0,0.600000,0.363636,4101,0.036364,0.538582,0.0,55.0
4,0.0,0.000000,0.0,0.649123,0.350877,3808,0.000000,0.617035,0.0,57.0

In [8]:
allSent = pd.merge(pumaSentFlickr, pumaSentTweet, on='puma', how='inner')
allSent.dropna(inplace=True)
print(allSent.shape)
allSent.head(5)

(55, 11)

,anger,contempt,disgust,happiness,neutral,puma,sadness,sentiment_x,surprise,faces,sentiment_y
0,0.0,0.015625,0.0,0.500000,0.453125,3804,0.031250,0.432531,0.0,64.0,0.092755
1,0.0,0.000000,0.0,0.545455,0.454545,4114,0.000000,0.479727,0.0,11.0,0.246683
2,0.0,0.015267,0.0,0.488550,0.480916,3702,0.015267,0.459038,0.0,131.0,-0.079423
3,0.0,0.000000,0.0,0.600000,0.363636,4101,0.036364,0.538582,0.0,55.0,0.153928
4,0.0,0.000000,0.0,0.649123,0.350877,3808,0.000000,0.617035,0.0,57.0,0.147169

In [9]:
stats.pearsonr(allSent.sentiment_x.values, allSent.sentiment_y.values)

(0.11947383757588222, 0.38495209789383689)